%main-width {
    max-width: 650px;
    margin: 100px 0;
}

%main-title__title {
    font-size: 48px; 
    color: $primary-color;
    font-weight: 900;
    margin: 40px 0;
     
}

%main__section--width {
    max-width: 80%;
}

%section__main--title {
    font-weight: bold;
    font-size: 20px;
    color: $fifth-color;
    line-height: 28px;

}
