/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.main__section-one__button button {
  width: 145px;
  height: 45px;
  background-color: #0052b4;
  color: white;
  border: none;
}

.main__section-five__button button {
  width: 225px;
  height: 45px;
  background-color: #0052b4;
  color: white;
  border: none;
}

.sidebar {
  min-width: 200px;
  -webkit-box-shadow: 1px 0px rgba(0, 0, 0, 0.07);
          box-shadow: 1px 0px rgba(0, 0, 0, 0.07);
}

.sidebar__logo {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__authentication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__authentication .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__authentication img {
  padding-right: 8px;
}

.nav {
  padding: 0 20px;
  font-size: 13px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav .nav {
  font-weight: bold;
}

.nav-button {
  padding: 5px 20px;
  border-color: #0052b4;
  border-radius: 5px;
  background-color: #E5E5E5;
}

.main__section-one__button button {
  width: 145px;
  height: 45px;
  background-color: #0052b4;
  color: white;
  border: none;
}

.main__section-five__button button {
  width: 225px;
  height: 45px;
  background-color: #0052b4;
  color: white;
  border: none;
}

.main__section-one {
  margin: 70px 0px;
}

.main__section-one__title {
  font-size: 60px;
  font-weight: bold;
}

.section-one {
  padding: 12px;
}

.main__section-one__main {
  max-width: 541px;
  font-size: 20px;
  line-height: 35px;
  color: #6a6a6a;
}

.main__section-two__title, .main__section-four__title {
  max-width: 650px;
  margin: 100px 0;
}

.section-two__title--title, .main__section-four__title--title, .main__section-five__title {
  font-size: 48px;
  color: #0052b4;
  font-weight: 900;
  margin: 40px 0;
}

.main__section-two, .main__section-four {
  max-width: 80%;
}

.section-two__main--title {
  font-weight: bold;
  font-size: 20px;
  color: #00367a;
  line-height: 28px;
}

.section-two__title--main {
  font-size: 20px;
  line-height: 28px;
  color: #6a6a6a;
}

.section-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 200px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.section--text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
}

.section--img-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 20px;
}

.section--img-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 20px;
}

.text {
  max-width: 426px;
}

.section-two__main--text {
  margin: 16px 0px;
  line-height: 24px;
  color: #6a6a6a;
}

.main__section-two__title, .main__section-four__title {
  max-width: 650px;
  margin: 100px 0;
}

.section-two__title--title, .main__section-four__title--title, .main__section-five__title {
  font-size: 48px;
  color: #0052b4;
  font-weight: 900;
  margin: 40px 0;
}

.main__section-two, .main__section-four {
  max-width: 80%;
}

.section-two__main--title {
  font-weight: bold;
  font-size: 20px;
  color: #00367a;
  line-height: 28px;
}

.main__section-four__title--text {
  font-size: 16px;
  color: #6a6a6a;
  line-height: 24px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__results {
  background-color: #FFFFFF;
  width: 232px;
  min-width: 150px;
  height: 135px;
  margin-right: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.18);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.18);
  border-radius: 5px;
}

.card__results__img {
  position: absolute;
  top: -20px;
  left: 24px;
}

.card__results__text {
  margin-top: 44px;
  margin-left: 24px;
}

.card__results__text--number {
  font-size: 25px;
  color: #0052b4;
  font-weight: 900;
  line-height: 30px;
}

.card__results__text--text {
  font-size: 16px;
  color: #9DA8B6;
}

.main__section-two__title, .main__section-four__title {
  max-width: 650px;
  margin: 100px 0;
}

.section-two__title--title, .main__section-four__title--title, .main__section-five__title {
  font-size: 48px;
  color: #0052b4;
  font-weight: 900;
  margin: 40px 0;
}

.main__section-two, .main__section-four {
  max-width: 80%;
}

.section-two__main--title {
  font-weight: bold;
  font-size: 20px;
  color: #00367a;
  line-height: 28px;
}

.main__section-five {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 200px 0;
}

.main__section-five__form {
  width: 500px;
}

.form-contol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 30px;
}

.form-label {
  font-size: 10px;
  color: #0052B4;
  margin-bottom: 4px;
}

.form-input {
  border: none;
  background-color: #E5E5E5;
  -webkit-box-shadow: 0 1px #9DA8B6;
          box-shadow: 0 1px #9DA8B6;
}

.form-textarea {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-checkbox__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-checkbox--button {
  width: 24px;
  height: 24px;
  border: 1px solid #0052B4;
  border-radius: 5px;
}

.form-checkbox--text {
  font-size: 15px;
  margin-left: 15px;
  color: #9DA8B6;
}

.main {
  margin: 0 70px;
}

.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 50px 0;
  margin: 0 70px;
}

.footer__main--left {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer__main--right {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer__main__paragraf {
  width: 320px;
  font-size: 13px;
}

.footer__main-title {
  margin-bottom: 25px;
}

.footer__main-title img {
  margin-bottom: 20px;
}

.footer__main-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
}

.footer__main-contact__text {
  margin-left: 10px;
}

.footer__main__pad {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 10px;
}

.footer__main__pad h4 {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 12px;
}

.footer__main__pad li {
  color: #0052B4;
  margin-top: 8px;
  font-size: 13px;
}

.footer__legal p, .footer__legal--right div {
  color: #9DA8B6;
  font-size: 13px;
}

.footer__legal__item {
  -webkit-box-shadow: 0px -1px rgba(0, 0, 0, 0.07);
          box-shadow: 0px -1px rgba(0, 0, 0, 0.07);
}

.footer__legal {
  margin: 0px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__legal--left {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 16px 0;
}

.footer__legal--right {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 16px 0;
}

.footer__legal--right div {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: inline;
}

.footer {
  -webkit-box-shadow: 0px -1px rgba(0, 0, 0, 0.07);
          box-shadow: 0px -1px rgba(0, 0, 0, 0.07);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #E5E5E5;
}

/* This wrapper class is breaking responsivness */
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.sidebar {
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.main-wrapper {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 999;
      -ms-flex-positive: 999;
          flex-grow: 999;
  min-width: 80%;
}
/*# sourceMappingURL=style.css.map */