/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.main__section-one__button button {
  width: 145px;
  height: 45px;
  background-color: #0052b4;
  color: white;
  border: none;
}

.main__section-five__button button {
  width: 225px;
  height: 45px;
  background-color: #0052b4;
  color: white;
  border: none;
}

.nav-button {
  padding: 5px 20px;
  width: 100px;
  border-color: #0052b4;
  border-radius: 5px;
  background-color: #e5e5e5;
}

.sidebar {
  min-width: 200px;
  -webkit-box-shadow: 1px 0 rgba(0, 0, 0, 0.07);
          box-shadow: 1px 0 rgba(0, 0, 0, 0.07);
}

.sidebar__logo {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar__logo img {
  height: 25px;
}

.main__section-one__button button {
  width: 145px;
  height: 45px;
  background-color: #0052b4;
  color: white;
  border: none;
}

.main__section-five__button button {
  width: 225px;
  height: 45px;
  background-color: #0052b4;
  color: white;
  border: none;
}

.nav-button {
  padding: 5px 20px;
  width: 100px;
  border-color: #0052b4;
  border-radius: 5px;
  background-color: #e5e5e5;
}

.main__section-two__title, .main__section-four__title {
  max-width: 650px;
  margin: 100px 0;
}

.section-two__title--title, .slideshow__section__title, .main__section-four__title h3, .main__section-five h3 {
  font-size: 48px;
  color: #00367a;
  font-weight: 900;
  margin: 40px 0;
}

.section-two__text__item h3, .slideshow__main__left__title {
  font-weight: bold;
  font-size: 20px;
  color: #00367a;
  line-height: 28px;
}

.main__section-one__button button {
  width: 145px;
  height: 45px;
  background-color: #0052b4;
  color: white;
  border: none;
}

.main__section-five__button button {
  width: 225px;
  height: 45px;
  background-color: #0052b4;
  color: white;
  border: none;
}

.nav-button {
  padding: 5px 20px;
  width: 100px;
  border-color: #0052b4;
  border-radius: 5px;
  background-color: #e5e5e5;
}

.header__small-screen-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin-left: 70px;
}

.small-screen-nav__left {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
}

.small-screen-nav__right {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 70%;
          flex: 1 0 70%;
}

.hide {
  display: none;
}

.show {
  position: absolute;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.18);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.18);
  cursor: pointer;
  border-radius: 10px;
  background-color: white;
}

.show li {
  padding: 20px;
}

.show li:hover {
  background-color: red;
}

.show a {
  text-decoration: none;
  color: black;
}

.small-screen-nav__left__icon {
  position: relative;
}

.small-screen-nav__right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.small-screen-nav__right li {
  padding-right: 20px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
}

.header__big-screen-nav {
  margin-left: 70px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav li {
  padding-right: 35px;
}

.header__nav a {
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  color: black;
}

.header__authentication {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__authentication ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__authentication li {
  padding-right: 35px;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__authentication a {
  text-decoration: none;
  font-size: 13px;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__authentication img {
  margin-right: 10px;
}

@media screen and (min-width: 900px) {
  .header__small-screen-nav {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .header__small-screen-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__big-screen-nav {
    display: none;
  }
}

.main__section-one__button button {
  width: 145px;
  height: 45px;
  background-color: #0052b4;
  color: white;
  border: none;
}

.main__section-five__button button {
  width: 225px;
  height: 45px;
  background-color: #0052b4;
  color: white;
  border: none;
}

.nav-button {
  padding: 5px 20px;
  width: 100px;
  border-color: #0052b4;
  border-radius: 5px;
  background-color: #e5e5e5;
}

.main__section-one {
  margin: 70px 0px;
}

.main__section-one__title {
  font-size: 60px;
  font-weight: bold;
}

.section-one {
  padding: 12px 0;
}

.main__section-one__main {
  max-width: 541px;
  font-size: 20px;
  line-height: 35px;
  color: #6a6a6a;
}

.main__section-two__title, .main__section-four__title {
  max-width: 650px;
  margin: 100px 0;
}

.section-two__title--title, .slideshow__section__title, .main__section-four__title h3, .main__section-five h3 {
  font-size: 48px;
  color: #00367a;
  font-weight: 900;
  margin: 40px 0;
}

.section-two__text__item h3, .slideshow__main__left__title {
  font-weight: bold;
  font-size: 20px;
  color: #00367a;
  line-height: 28px;
}

.section-two__title--main {
  font-size: 20px;
  line-height: 28px;
  color: #6a6a6a;
}

.main__section-two__main {
  width: 80%;
}

.section-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 200px 0;
  margin-right: 200px;
}

.section-two__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section-two__text__item {
  max-width: 430px;
}

.section-two__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px;
}

.section-two__image__item {
  max-width: 300px;
  max-height: 250px;
  position: relative;
}

.image--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.section-two__text__item p {
  margin: 16px 0;
  line-height: 24px;
  color: #6a6a6a;
}

@media (max-width: 999px) {
  .section-two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 50px auto;
  }
  .image--left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .section-two__image__item img {
    max-height: 100%;
    max-width: 100%;
  }
}

.main__section-two__title, .main__section-four__title {
  max-width: 650px;
  margin: 100px 0;
}

.section-two__title--title, .slideshow__section__title, .main__section-four__title h3, .main__section-five h3 {
  font-size: 48px;
  color: #00367a;
  font-weight: 900;
  margin: 40px 0;
}

.section-two__text__item h3, .slideshow__main__left__title {
  font-weight: bold;
  font-size: 20px;
  color: #00367a;
  line-height: 28px;
}

.slideshow__section__title {
  min-height: 120px;
}

.slideshow__section__main__item {
  min-height: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.slideshow__main__left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 10px;
}

.slideshow__main__left__title {
  max-width: 430px;
}

.slideshow__main__left__text {
  max-width: 450px;
  font-size: 16px;
  line-height: 24px;
  padding: 16px 0;
  color: #6a6a6a;
}

.slideshow__main__right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

.slideshow__main__right__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.slideshow__main__right__img > div {
  position: relative;
}

.info-box {
  max-width: 220px;
  max-height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 11px;
  line-height: 1.5;
  color: #9da8b6;
  background-color: #fbfbfb;
  -webkit-box-shadow: 3px 7px 4px rgba(0, 0, 0, 0.09);
          box-shadow: 3px 7px 4px rgba(0, 0, 0, 0.09);
  border-radius: 5px;
}

.info-box__image {
  background-color: #fbfbfb;
  margin: 15px;
}

.info-box__text {
  margin: 5px;
}

.info-box__first {
  position: absolute;
  top: 100px;
  left: -30px;
}

.info-box__second {
  position: absolute;
  bottom: 10px;
  right: -10px;
}

.slideshow-img {
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 999px) {
  .slideshow__section__main__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .slideshow-img {
    max-height: 100%;
    max-width: 100%;
  }
}

.main__section-two__title, .main__section-four__title {
  max-width: 650px;
  margin: 100px 0;
}

.section-two__title--title, .slideshow__section__title, .main__section-four__title h3, .main__section-five h3 {
  font-size: 48px;
  color: #00367a;
  font-weight: 900;
  margin: 40px 0;
}

.section-two__text__item h3, .slideshow__main__left__title {
  font-weight: bold;
  font-size: 20px;
  color: #00367a;
  line-height: 28px;
}

.main__section-four__title p {
  font-size: 16px;
  color: #6a6a6a;
  line-height: 24px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card__results {
  background-color: #FFFFFF;
  width: 232px;
  min-width: 150px;
  min-height: 135px;
  margin: 12px 12px 12px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.18);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.18);
  border-radius: 5px;
}

.card__results__img {
  position: absolute;
  top: -20px;
  left: 24px;
}

.card__results__text {
  margin-top: 44px;
  margin-left: 24px;
}

.card__results__text--number {
  font-size: 25px;
  color: #0052b4;
  font-weight: 900;
  line-height: 30px;
}

.card__results__text--text {
  font-size: 16px;
  color: #9da8b6;
}

.main__section-two__title, .main__section-four__title {
  max-width: 650px;
  margin: 100px 0;
}

.section-two__title--title, .slideshow__section__title, .main__section-four__title h3, .main__section-five h3 {
  font-size: 48px;
  color: #00367a;
  font-weight: 900;
  margin: 40px 0;
}

.section-two__text__item h3, .slideshow__main__left__title {
  font-weight: bold;
  font-size: 20px;
  color: #00367a;
  line-height: 28px;
}

.main__section-five {
  margin: 200px 0 100px;
}

.main__section-five h3 {
  padding-bottom: 40px;
}

.main__section-five h3 {
  margin-bottom: 0;
}

.main__section-five__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main__section-five__form {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  padding-top: 20px;
}

.main__section-five__form form {
  max-width: 450px;
}

.main__section-five__map {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

.map__item {
  max-width: 550px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  margin: 0 auto;
  padding: 20px;
}

.map__item div iframe {
  border-radius: 15px;
}

.form-contol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 30px;
}

.form-label {
  font-size: 10px;
  color: #0052b4;
  margin-bottom: 4px;
}

.form-input {
  border: none;
  background-color: #e5e5e5;
  -webkit-box-shadow: 0 1px #9da8b6;
          box-shadow: 0 1px #9da8b6;
}

.form-textarea {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-checkbox__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-checkbox--button {
  width: 24px;
  height: 24px;
  border: 1px solid #0052b4;
  border-radius: 5px;
}

.form-checkbox--text {
  font-size: 15px;
  margin-left: 15px;
  color: #9da8b6;
}

.main {
  margin: 0 70px;
}

.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 50px 0;
  margin: 0 70px;
}

.footer__main--left {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: 30px;
}

.footer__main--right {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer__main__paragraf {
  max-width: 320px;
  font-size: 13px;
}

.footer__main-title {
  margin-bottom: 25px;
}

.footer__main-title img {
  margin-bottom: 20px;
}

.footer__main-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
}

.footer__main-contact__text {
  margin-left: 10px;
}

.footer__main__pad {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 10px;
}

.footer__main__pad h4 {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 12px;
}

.footer__main__pad li {
  color: #0052b4;
  margin-top: 8px;
  font-size: 13px;
}

.footer__legal p, .footer__legal--right div {
  color: #9da8b6;
  font-size: 13px;
}

.footer__legal__item {
  -webkit-box-shadow: 0px -1px rgba(0, 0, 0, 0.07);
          box-shadow: 0px -1px rgba(0, 0, 0, 0.07);
}

.footer__legal {
  margin: 0px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__legal--left {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 16px 0;
}

.footer__legal--right {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 16px 0;
}

.footer__legal--right div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: inline;
}

.footer {
  -webkit-box-shadow: 0px -1px rgba(0, 0, 0, 0.07);
          box-shadow: 0px -1px rgba(0, 0, 0, 0.07);
}

.progress-dots__item {
  width: 90%;
  margin: 0 auto;
}

.progress-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.progress-dots-bar {
  border-top: 2px dashed #cdcdcd;
  max-width: 98%;
  height: 2px;
  margin-top: -20px;
  margin-left: 5px;
}

.progres-dot__item {
  width: 23px;
  height: 23px;
  border-radius: 50px;
  border: 1px solid #00367a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.progres-dot__item--first {
  width: 35px;
  height: 35px;
  border: 1px solid #ff7616;
}

.progress-dot {
  display: block;
  background-color: #00367a;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  text-align: center;
  color: transparent;
  position: relative;
}

.progress-dot--first {
  background-color: #ff7616;
  width: 25px;
  height: 25px;
  color: #ff7616;
}

.progress-dot__text {
  position: absolute;
  top: 40px;
  right: -25px;
  font-size: 15px;
}

.section-two__image__item {
  position: relative;
}

.dots-item {
  width: 100%;
}

.section-two__hover__dot-1 {
  position: absolute;
  bottom: 200px;
  left: 30px;
}

.section-two__hover__dot-2 {
  position: absolute;
  bottom: 100px;
  left: 150px;
}

.hover-dot__item {
  width: 33px;
  height: 35px;
  background-color: rgba(255, 118, 22, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  position: absolute;
}

.hover-dot {
  width: 22px;
  height: 22px;
  background-color: #ff7616;
  color: transparent;
  border-radius: 50px;
}

.popover {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 15px 0;
}

#popover-1 {
  top: 60px;
  left: 30px;
}

#popover-2 {
  bottom: -10px;
  left: 20px;
}

.popover__x {
  cursor: pointer;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  text-align: center;
  padding-top: 5px;
}

.popover__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
  font-size: 13px;
  line-height: 1.75;
  color: #9da8b6;
  padding-right: 5px;
}

.slideshow {
  max-height: 1200px;
  position: relative;
  margin: auto;
}

.slideshow__section {
  display: none;
}

.slideshow__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.one-dot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.one-dot__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dart {
  cursor: pointer;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  padding: 5px;
  color: #0052b4;
  font-weight: bold;
}

.dot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ff7616;
  cursor: pointer;
}

.dot__img {
  width: 40px;
  height: 40px;
}

.dot__text {
  margin-bottom: 15px;
}

.dot__img--inactive {
  background: url("../../images/Group 2.1.png") no-repeat center/20px;
}

.dot__img--active {
  background: url("../../images/orange-dot.png") no-repeat center/35px;
}

.dot__text--inactive {
  display: none;
  color: #ff7616;
}

.dot__text--active {
  display: block;
  text-align: center;
  color: #ff7616;
}

.dot-dart--inactive {
  display: none;
}

.dot-dart--active {
  display: block;
}

.slideshow__dots-bar {
  border-top: 2px dashed #cdcdcd;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2px;
  margin-top: -50px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 100px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #e5e5e5;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 1440px;
  margin: 0 auto;
}

.sidebar {
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.main-wrapper {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 999;
      -ms-flex-positive: 999;
          flex-grow: 999;
  min-width: 80%;
}

/* UTILITIES */
.u-hide {
  display: none;
}

.u-show {
  display: block;
}
/*# sourceMappingURL=style.css.map */