/* 
* Variables to use across the project
*/
/* 
    Responsive
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap");
@media --screen-to-sml and (max-width: 900px) {
  /* small */
}
@media --screen-to-xsmall and (max-width: 999px) {
  /* small */
}
@media --screen-to-small and (max-width: 770px) {
  /* smal screen footer modifications */
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 
  Colors 
 */
/*
  Shades of blue
 */
/*
  sheades of gray
 */
/* 
  Background color
 */
/* 
Hover color
 */
/* 
  Dot color
 */
/* 
Typohraphy
*/
/* Import coustom typography from font providers */
/* 
Project line height
*/
/* 
Type weights
*/
/* 
Font
*/
/* 
Primary margin in project
*/
/* 
Sidebar width: important for the main element
 */
/* 
header height: important for the logo height
 */
/* 
Shadows
*/
/* 
Popover line
*/
/* 
Form input
*/
/* 
Card results
*/
/* 
Info-box
*/
/* 
*  Base stylings for setting the body, typography and other base styles
 */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Inter", sans-serif, "Segoe UI", "Roboto";
  background-color: white;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
@media screen and (max-width: 990px) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }
}

.main {
  margin: 0 70px;
}

.main-wrapper {
  position: relative;
  left: 200px;
  width: calc(100% - 200px);
  border-left: 1px solid rgba(0, 0, 0, 0.07);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 50px;
  background-color: white;
}
@media screen and (max-width: 990px) {
  .header {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
  }
}

@media screen and (max-width: 990px) {
  .main-wrapper {
    position: relative;
    top: calc(100px + 100px);
    left: 0;
    width: 100%;
  }
}

.footer {
  box-shadow: 0px -1px rgba(0, 0, 0, 0.07);
}

.sidebar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.sidebar__logo img {
  height: 25px;
}

.sidebar {
  position: fixed;
  min-width: 200px;
  box-shadow: 1px 0 rgba(0, 0, 0, 0.07);
}
@media screen and (max-width: 990px) {
  .sidebar {
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: white;
  }
}

/* 
* Components 
 */
.hero {
  margin: 24px 0;
}
.hero__wrapper {
  margin: 70px 0px;
}
.hero__title {
  font-size: 60px;
  font-weight: 900;
}
.hero__description {
  max-width: 541px;
  line-height: 35px;
  font-size: 20px;
  color: #6a6a6a;
}
.hero__btn {
  height: 45px;
}

.progress-dots__item {
  width: 90%;
  margin: 150px auto;
}

.progress-dots {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progress-dots-bar {
  max-width: 98%;
  height: 2px;
  margin-top: -20px;
  margin-left: 5px;
  border-top: 2px dashed #cdcdcd;
}

.progres-dot__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 23px;
  border-radius: 50px;
  border: 1px solid #00367a;
}

.progres-dot__item--first {
  width: 35px;
  height: 35px;
  border: 1px solid #ff7616;
}

.progress-dot {
  display: block;
  width: 15px;
  height: 15px;
  position: relative;
  border-radius: 50%;
  text-align: center;
  background-color: #00367a;
  color: transparent;
}
.progress-dot__first {
  width: 25px;
  height: 25px;
  background-color: #ff7616;
  color: #ff7616;
}
.progress-dot__text {
  position: absolute;
  top: 40px;
  right: -25px;
  font-size: 15px;
}

/*
    Base Styles
*/
input[type=radio] {
  display: none;
}

.slideshow {
  position: relative;
  max-width: 1229px;
  height: 800px;
}

.slides {
  position: relative;
  margin-top: 100px;
  width: 100%;
  height: 900px;
  overflow: hidden;
  padding: 0;
}

/*
    Slides
*/
#slide-role {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  background: inherit;
  transition: left 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

/* slide logic */
input[type=radio]:checked#slide-2-trigger ~ div.slides > div#slide-role {
  left: -100%;
}

input[type=radio]:checked#slide-3-trigger ~ div.slides > div#slide-role {
  left: -200%;
}

input[type=radio]:checked#slide-4-trigger ~ div.slides > div#slide-role {
  left: -300%;
}

#slide-1-trigger ~ #slide-1-trigger-label > span,
#slide-2-trigger ~ #slide-2-trigger-label > span,
#slide-3-trigger ~ #slide-3-trigger-label > span,
#slide-4-trigger ~ #slide-4-trigger-label > span {
  color: white;
}

#slide-1-trigger:checked ~ #slide-1-trigger-label > span,
#slide-2-trigger:checked ~ #slide-2-trigger-label > span,
#slide-3-trigger:checked ~ #slide-3-trigger-label > span,
#slide-4-trigger:checked ~ #slide-4-trigger-label > span {
  color: #ff7616;
}

/* slide design */
.slide {
  width: 100%;
  background-size: cover;
  background-position: center;
  padding: 70px 0;
}
.slide__title {
  margin: 40px 0;
  min-height: 120px;
  font-weight: 900;
  font-size: 48px;
  color: #00367a;
}
.slide__main {
  display: flex;
  flex-wrap: wrap;
  min-height: 360px;
}
@media (max-width: 999px) {
  .slide__main {
    flex-direction: column;
    align-items: center;
  }
}

.slide-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
  padding-right: 10px;
}
.slide-text__title {
  max-width: 430px;
  line-height: 28px;
  font-weight: 900;
  font-size: 20px;
  color: #00367a;
}
.slide-text__paragraph {
  max-width: 450px;
  padding: 16px 0;
  line-height: 24px;
  font-size: 16px;
  color: #6a6a6a;
}

.slide-img {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100%;
  flex: 1;
  padding-left: 50px;
}
.slide-img__item {
  position: relative;
}
.slide-img__img {
  max-width: 100%;
  max-height: 100%;
}
@media (max-width: 999px) {
  .slide-img__img {
    max-height: 100%;
    max-width: 100%;
  }
}

.info-box {
  display: flex;
  max-width: 220px;
  max-height: 45px;
  line-height: 1.5;
  border-radius: 5px;
  font-size: small;
  color: gray;
  background-color: #fbfbfb;
  box-shadow: gray;
}
.info-box__image {
  margin: 15px;
  background-color: #fbfbfb;
}
.info-box__text {
  margin: 5px;
  font-size: 11px;
}

.info-box__first {
  position: absolute;
  top: 50px;
  left: -30px;
}
.info-box__second {
  position: absolute;
  bottom: 100px;
  right: -10px;
}

.popover--1 {
  position: absolute;
  bottom: 200px;
  left: 30px;
}
.popover--2 {
  position: absolute;
  bottom: 100px;
  left: 150px;
}

.hover-dot {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background-color: rgba(255, 118, 22, 0.5);
}
.hover-dot__text {
  width: 22px;
  height: 22px;
  border-radius: 50px;
  background-color: #ff7616;
  color: transparent;
}

.popover__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
}

.popover-hover {
  border-radius: 5px;
  padding: 15px 0;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}
.popover-hover__x {
  flex: 0 0 20%;
  text-align: center;
  padding-top: 5px;
  cursor: pointer;
}
.popover-hover__text {
  flex: 0 0 80%;
  padding-right: 5px;
  line-height: 1.75;
  font-size: 13px;
  color: #9da8b6;
}

#popover-1 {
  top: 60px;
  left: 30px;
}

#popover-2 {
  bottom: -10px;
  left: 20px;
}

.img-close:hover {
  transform: rotate(45deg);
}

.btn-nav {
  border-color: #0052b4;
  background-color: white;
  width: 100px;
  height: 35px;
  border: 2px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.btn-nav:hover {
  border: none;
}
.btn-nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: black;
}

.btn-hero {
  height: 45px;
  width: 150px;
  background-color: #0052b4;
}
.btn-hero__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 13px;
}
.btn-hero__img {
  margin-right: 10px;
}

.btn-form {
  width: 225px;
  height: 45px;
  border: none;
}
.btn-form__link {
  width: 100%;
  height: 100%;
  background-color: #0052b4;
  color: white;
  border: none;
}

.button,
.btn-nav {
  position: relative;
  transition: 800ms ease all;
  outline: none;
  cursor: pointer;
}

.button:hover,
.btn-nav:hover {
  background: white;
  border: none;
  color: #00367a;
}

.button:before,
.button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  transition: 400ms ease all;
  width: 0;
  background: #0052b4;
}

.button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.button:hover:before,
.button:hover:after {
  transition: 800ms ease all;
  width: 100%;
}

.button:active {
  transform: translateY(2px);
}

.footer__legal {
  padding: 16px;
  box-shadow: 0px -1px rgba(0, 0, 0, 0.07);
}

.legal {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px 70px;
}
@media screen and (max-width: 770px) {
  .legal {
    flex-direction: column;
    margin: 0 auto;
  }
}

.legal--left {
  flex: 1;
}
.legal--left__paragraph {
  color: #9da8b6;
  font-size: 13px;
}

.legal--right {
  flex: 1;
}
.legal--right__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.legal--right__item {
  width: fit-content;
  padding-right: 10px;
  word-wrap: unset;
}
.legal--right__link {
  text-decoration: none;
  color: #9da8b6;
  font-size: 13px;
}

.legal--right__link:hover {
  color: black;
}

.footer__main {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  padding: 50px 0;
  margin: 0 70px;
}

.footer--left {
  flex-grow: 1;
  margin-bottom: 30px;
  font-family: "Inter", sans-serif, "Segoe UI", "Roboto";
}
.footer--left__section {
  max-width: 320px;
  font-size: 13px;
}
.footer--left__title {
  margin-bottom: 25px;
}
.footer--left__contact {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.footer--left__text {
  margin-left: 10px;
  color: #00367a;
}
.footer--left__mail {
  text-decoration: none;
  color: #00367a;
}
.footer--left__p {
  margin-top: 20px;
  color: #35384d;
  font-size: 13px;
  line-height: 20px;
}

.footer--left__mail:hover {
  text-decoration: underline;
}

.footer--right {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-grow: 1;
}
.footer--right__pad {
  flex: 1;
  padding-right: 10px;
}
.footer--right__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 16px;
  color: #35384d;
}
.footer--right__item {
  margin-top: 8px;
}
.footer--right__link {
  text-decoration: none;
  font-size: 13px;
  color: #0052b4;
}

.footer--right__link:hover {
  color: #011e42;
}

.header {
  box-shadow: 0px 1px rgba(0, 0, 0, 0.07);
}

.header__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: static;
  width: 100%;
  margin-left: 70px;
}
@media screen and (max-width: 900px) {
  .header__item {
    margin-left: 0px;
  }
}

.navbar--left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  height: 100%;
}
.navbar--left__menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar--left__item {
  margin-right: 10px;
}
.navbar--left__link {
  text-decoration: none;
  font-weight: 900;
  font-size: 13px;
  color: black;
  padding: 10px;
}

.navbar--left__link:hover,
.navbar--right__link:hover {
  color: #929191;
}

.navbar--right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  height: 100%;
}
.navbar--right__menu {
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.navbar--right__item {
  display: flex;
  height: 100%;
  padding-right: 20px;
  font-size: 13px;
}
@media screen and (max-width: 990px) {
  .navbar--right__item {
    padding-right: 10px;
  }
}
.navbar--right__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 13px;
  color: black;
  padding: 10px;
}
.navbar--right__img {
  margin-right: 10px;
}

.oil-cards {
  margin: 200px 0;
}
.oil-cards__text {
  margin: 50px 0;
}
.oil-cards__card {
  display: flex;
  flex-wrap: wrap;
}

.text__title {
  margin: 40px 0;
  font-size: 48px;
  color: #00367a;
  font-weight: 900;
}
@media screen and (max-width: 900px) {
  .text__title {
    font-size: 25px;
  }
}
.text__paragraph {
  max-width: 650px;
  line-height: 24px;
  font-size: 16px;
  color: #6a6a6a;
}

.card {
  display: flex;
  flex-direction: column;
  width: 232px;
  min-width: 150px;
  min-height: 135px;
  position: relative;
  margin: 12px 12px 12px 0;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.18);
}
.card__img {
  position: absolute;
  top: -20px;
  left: 24px;
}
.card__item {
  margin-top: 44px;
  margin-left: 24px;
}
.card__number {
  font-size: 25px;
  font-weight: 900;
  line-height: 30px;
  color: #0052b4;
}
.card__text {
  font-size: 16px;
  color: #9da8b6;
  padding-top: 8px;
}

.solutions {
  margin: 200px auto;
}
.solutions__title {
  max-width: 650px;
  margin: 100px 0;
}

.title__h2 {
  margin: 40px 0;
  font-size: 48px;
  font-weight: 900;
  color: #00367a;
}
.title__main {
  line-height: 28px;
  font-size: 20px;
  color: #6a6a6a;
}

.solution {
  display: flex;
  flex-direction: row;
  margin: 200px 0;
}
@media screen and (max-width: 999px) {
  .solution {
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
  }
}
.solution__about-company {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: 1 0 50%;
}
.solution__image {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1 0 50%;
  padding: 10px;
}

.about-company__item {
  max-width: 430px;
}
.about-company__title {
  font-weight: 900;
  font-size: 20px;
  color: #00367a;
  line-height: 28px;
}
.about-company__paragraph {
  margin: 16px 0;
  line-height: 24px;
  color: #6a6a6a;
}

.image__item {
  position: relative;
  max-width: 300px;
  max-height: 250px;
}

@media (max-width: 999px) {
  .image--left {
    display: flex;
    flex-direction: column-reverse;
  }

  .image__item img {
    max-height: 100%;
    max-width: 100%;
  }
}
.hamburger {
  display: none;
}

.hamburger__bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

@media screen and (max-width: 900px) {
  .navbar--left__menu {
    position: fixed;
    left: -200%;
    top: 100px;
    flex-direction: column;
    width: fit-content;
    border-radius: 10px;
    text-align: start;
    transition: 0.8s;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  }

  .navbar--left__menu.active {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    left: 0px;
    min-width: 20%;
    height: 40%;
  }

  .navbar--left__item {
    text-align: center;
    padding: 20px;
    width: 100%;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    padding: 20px;
  }

  .hamburger.active .hamburger__bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .hamburger__bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .hamburger__bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .hamburger__item {
    display: flex;
    align-items: center;
  }

  .nav-link-right {
    display: none;
  }

  .nav-item-right {
    padding-right: 0px;
  }

  .navigation-text {
    display: none;
  }

  .navbar--left__item:hover {
    background-color: #9da8b6;
  }
}
.btn {
  position: absolute;
  top: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transform: scale(1.1);
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.slider {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 50px;
  height: 20px;
  position: relative;
  top: 30px;
  left: 0;
  border-top: 2px dashed #cdcdcd;
}

.btn,
.btn::after {
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.btn:nth-of-type(1) {
  left: 0%;
}

.btn:nth-of-type(2) {
  left: 33%;
}

.btn:nth-of-type(3) {
  left: 66%;
}

.btn:nth-of-type(4) {
  left: 97%;
}

.btn:hover {
  transform: scale(1.4);
}

.btn::after {
  content: "";
  display: inline-block;
  background: url(../../images/Group2.1.png) center;
  width: 20px;
  height: 20px;
  margin: 3px 3px;
  transform: scale(0.5, 0.5);
}

/* button logic */
input[type=radio]:checked + label.btn {
  transform: scale(1.2);
}

input[type=radio]:checked + label.btn::after {
  transform: scale(1.1, 1.1);
  background: url(../../images/orange-dot.png) center;
  background-size: 20px;
}

.map {
  flex: 1 0 50%;
}

.map__item {
  flex: 1 0 100%;
  max-width: 550px;
  margin: 0 auto;
  padding: 20px;
}

.map__item div iframe {
  border-radius: 15px;
}

.form-section {
  margin: 200px 0 100px;
}
.form-section__title {
  margin: 40px 0;
  font-size: 48px;
  color: #00367a;
  font-weight: 900;
}
.form-section__main {
  display: flex;
  flex-wrap: wrap;
}

.form__item {
  flex: 1 0 50%;
  padding-top: 20px;
}

.form {
  max-width: 500px;
}
.form__control {
  display: flex;
  flex-direction: column;
  padding-bottom: 35px;
}
.form__label {
  margin-bottom: 4px;
  font-size: 10px;
  color: #0052b4;
}
.form__input {
  border: none;
  font-size: 16px;
  background-color: white;
  box-shadow: 0 1px #9da8b6;
  color: #35384d;
}
.form__textarea {
  font-size: 16px;
  font-family: "Inter", sans-serif, "Segoe UI", "Roboto";
  box-shadow: none;
  color: #35384d;
}
.form__message {
  margin: 20px 0;
  color: #35384d;
}
.form__button {
  height: 45px;
}

.checkbox__button {
  width: 24px;
  height: 24px;
  border: 1px solid #0052b4;
  border-radius: 5px;
}
.checkbox__text {
  margin-left: 15px;
  font-size: 15px;
  color: #9da8b6;
}

.js-hide {
  display: none;
}

/*# sourceMappingURL=style.css.map */
