@import "./core/_reset.scss";
@import "./core/colors";
@import "./core/typography";
@import "./abstracts/mixins";
@import "./components/buttons";
@import "./layout/sidebar";
@import "./layout/header";
@import "./layout/main/main";
@import "./layout/footer/footer";


* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: $primary-font;
    background-color: $secondary-color;
}

/* This wrapper class is breaking responsivness */
.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.sidebar {
    flex-basis: 200px;
    flex-grow: 2;
}

.main-wrapper {
    flex-basis: 0;
    flex-grow: 999;
    min-width: 80%;
}

