@import "./core/_reset.scss";
@import "./core/colors";
@import "./core/typography";
@import "./abstracts/mixins";
@import "./components/buttons";
@import "./layout/sidebar";
@import "./layout/header";
@import "./layout/main/main";
@import "./layout/footer";


* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    margin: 0;
    font-family: $primary-font;
    background-color: $secondary-color;
}

.wrapper {
    display: flex;
}
