@import "../abstracts/mixins";

.header {
    display: flex;
    flex: 0;
    justify-content: space-between;
    height: $height-first;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__authentication {
    display: flex;
    align-items: center;
}

.nav {
    padding: 0 20px;
    font-size: 13px;
}

.header__nav .nav {
    font-weight: bold;
}