@import "../abstracts/mixins";
.sidebar {
    min-width: $sidebar-width;
    box-shadow: 1px 0 $eight-color;
}

.sidebar__logo {
    height: $header-high;
    display: flex;
    justify-content: center;
    align-items: center;
}