@import "../abstracts/mixins";

.sidebar {
    min-width: 200px;
    border-right: 1px solid $fourth-color;
}

.sidebar__logo {
    height: $height-first;
    display: flex;
    justify-content: center;
    align-items: center;
}


