/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.sidebar {
  min-width: 200px;
  border-right: 1px solid white;
}

.sidebar__logo {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex: 0;
  justify-content: space-between;
  height: 50px;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__authentication {
  display: flex;
  align-items: center;
}

.header__authentication .nav {
  display: flex;
}

.header__authentication img {
  padding-right: 8px;
}

.nav {
  padding: 0 20px;
  font-size: 13px;
  align-items: center;
}

.header__nav .nav {
  font-weight: bold;
}

.nav-button {
  padding: 5px 20px;
  border-color: #0052b4;
  border-radius: 5px;
  background-color: #E5E5E5;
}

.main__section-one {
  margin: 70px 0px;
}

.main__section-one__title {
  font-size: 60px;
  font-weight: bold;
}

.section-one {
  padding: 12px;
}

.main__section-one__main {
  max-width: 541px;
  font-size: 20px;
  line-height: 35px;
  color: #6a6a6a;
}

.main__section-one__button button {
  width: 145px;
  height: 45px;
  background-color: #0052b4;
  color: white;
  border: none;
}

.main__section-two {
  width: 80%;
}

.main__section-two__title {
  max-width: 650px;
  margin: 100px 0;
}

.section-two__title--title {
  font-size: 48px;
  color: #0052b4;
  font-weight: 900;
  margin: 40px 0;
}

.section-two__title--main {
  font-size: 20px;
  line-height: 28px;
  color: #6a6a6a;
}

.section-two {
  display: flex;
  margin: 200px 0px;
  flex: 1;
}

.section--text {
  flex: 0 0 50%;
  display: flex;
  align-items: center;
}

.section--img {
  flex: 0 0 50%;
  display: flex;
  justify-content: flex-end;
}

.text {
  max-width: 426px;
}

.section-two__main--title {
  font-weight: bold;
  font-size: 20px;
  color: #00367a;
  line-height: 28px;
}

.section-two__main--text {
  margin: 16px 0px;
  line-height: 24px;
  color: #6a6a6a;
}

/* section one */
.main {
  margin: 0 40px;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #E5E5E5;
}

.wrapper {
  display: flex;
}

/*# sourceMappingURL=style.css.map */
