@import "../../abstracts/mixins";
@import "../../core/colors";
@import "../../components/buttons";
@import "./header-small";
@mixin header-navigation ($justify-countent:flex-start) {
    flex-grow: 1;
    display: flex;
    justify-content: $justify-countent;
    align-items: center;
    min-height: $header-high;
}

.header {
    display: flex;
    height: 50px;
}

.header__item {
    margin-left: $primary-margin;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.header__nav {
    @include header-navigation;
}

.header__nav ul {
    display: flex;
}

.header__nav li {
    padding-right: 35px;
    font-weight: bold;
    font-size: 13px;
}

.header__authentication {
    @include header-navigation($justify-countent: flex-end);
}

.header__authentication ul {
    display: flex;
}

.header__authentication li {
    padding-right: 35px;
    font-size: 13px;
    display: flex;
    align-items: center;
}

.header__authentication li img {
    margin-right: 10px;
}

@media screen and (min-width:900px) {
    .header__small-screan-nav {
        display: none;
    }
}

@media screen and (max-width:900px) {
    .header__small-screan-nav {
        display: flex;
    }
    .header__item {
        display: none;
    }
}