$primary-color: rgb(0, 82, 180);
$secondary-color: rgb(229, 229, 229);
$third-color: rgba(106, 106, 106, 1);
$fourth-color: rgb(255, 255, 255);
$fifth-color: rgba(0, 54, 122, 1);
$sixth-color: rgb(157, 168, 182);
$seventh-color:rgb(0, 82, 180);
$eight-color: rgba(0, 0, 0, 0.07);
$dot-color: rgba(255, 118, 22, 1);