$primary-color: rgba(0, 82, 180, 1);
$secondary-color: #E5E5E5;
$third-color: rgba(106, 106, 106, 1);
$fourth-color: rgba(255, 255, 255, 1);
$fifth-color: rgba(0, 54, 122, 1);
$sixth-color: #9DA8B6;
$seventh-color:#0052B4;
$eight-color: rgba(0, 0, 0, 0.07);

