@import "../../abstracts/extend";
.main__section-two__title {
    @extend %main-width;
}

.section-two__title--title {
    @extend %main-title__title;
}

.section-two__title--main {
    font-size: 20px;
    line-height: 28px;
    color: $third-color;
}

.main__section-two__main {
    width: 80%;
}

.section-two {
    display: flex;
    margin: 200px 0;
    margin-right: $sidebar-width;
}

.section-two__text {
    flex: 1 0 50%;
    flex-wrap: wrap;
}

.section-two__text__item {
    max-width: 430px;
}

.section-two__image {
    flex: 1 0 50%;
    flex-wrap: wrap;
    padding: 10px;
}

.section-two__image__item {
    max-width: 300px;
}

.section-two__image__item img {
    max-height: 100%;
    max-width: 100%;
}

.image--left {
    display: flex;
    justify-content: end;
}

.section-two__text__item h3 {
    @extend %section__main--title
}

.section-two__text__item p {
    margin: 16px 0;
    line-height: 24px;
    color: $third-color;
}