@import "../../abstracts/extend";

.main__section-two {
    @extend %main__section--width;
}

.main__section-two__title {
    @extend %main-width;

}

.section-two__title--title {
   @extend %main-title__title;
}

.section-two__title--main {
    font-size: 20px;
    line-height: 28px;
    color: $third-color;
}

.section-two {
    display: flex;
    margin: 200px 0px;
    flex: 1;
}

.section--text {
   flex: 0 0 50%;
   display: flex ;
   align-items: center;
   margin: 20px

}

.section--img-right {
    @include justify-img;
}

.section--img-left {
    @include justify-img($flex: flex-start)
}

.text {
    max-width: 426px;
}

.section-two__main--title {
   @extend %section__main--title

}

.section-two__main--text {
    margin: 16px 0px;
    line-height: 24px;
    color: $third-color;
}