@import "../../abstracts/extend";
@import "../../core/colors";
.slideshow__section__title {
    @extend %title-h2;
    min-height: 120px;
}

.slideshow__section__main__item {
    min-height: 360px;
    display: flex;
    flex-wrap: wrap;
}

.slideshow__main__left {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-right: 10px;
}

.slideshow__main__left__title {
    @extend %title-h3;
    max-width: 430px;
}

.slideshow__main__left__text {
    max-width: 450px;
    font-size: 16px;
    line-height: 24px;
    padding: 16px 0;
    color: $third-color;
}

.slideshow__main__right {
    flex: 1;
    position: relative;
}

.slideshow__main__right__img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.slideshow__main__right__img>div {
    position: relative;
}

.info-box {
    max-width: 220px;
    max-height: 45px;
    display: flex;
    font-size: 11px;
    line-height: 1.5;
    color: $sixth-color;
    background-color: rgba(251, 251, 251, 1);
    box-shadow: 3px 7px 4px rgba(0, 0, 0, 0.09);
    border-radius: 5px;
}

.info-box__image {
    background-color: rgb(251, 251, 251);
    margin: 15px;
}

.info-box__text {
    margin: 5px;
}

.info-box__first {
    position: absolute;
    top: 100px;
    left: -30px;
}

.info-box__second {
    position: absolute;
    bottom: 10px;
    right: -10px;
}

.slideshow-img {
    max-width: 100%;
    max-height: 100%;
}

@media (max-width: 999px) {
    .slideshow__section__main__item {
        flex-direction: column;
        align-items: center;
    }
    .slideshow-img {
        max-height: 100%;
        max-width: 100%;
    }
}