.sidebar {
    min-width: $sidebar-width;
    box-shadow: 1px 0 $gray-6;
}

.sidebar__logo {
    height: $header-high;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar__logo img {
    height: 25px;
}