.sidebar {
    min-width: $sidebar-width;
    box-shadow: $shadow-line1;
}

.sidebar__logo {
    height: $header-hight;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar__logo img {
    height: 25px;
}