.btn {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    transition: 800ms ease all;
    cursor: pointer;
}

.btn--white {
    border: 2px solid $blue-3;
    border-radius: 5px;
    color: $gray-5;
}

.btn--blue {
    background-color: $blue-2;
    font-weight: 500;
    color: $gray-1;
    height: 100%;
    border: none;
}

.btn--small {
    width: 150px;
}

.btn--big {
    width: 225px;
}

.btn__img {
    margin-right: 10px;
}

.button,
.btn-nav {
    position: relative;
    transition: 800ms ease all;
    outline: none;
    cursor: pointer;
}

.button:hover,
.btn-nav:hover {
    background: $body-background;
    border: none;
    color: $blue-3;
}

.button:before,
.button:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    transition: 400ms ease all;
    width: 0;
    background: $blue-2;
}

.button:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.button:hover:before,
.button:hover:after {
    transition: 800ms ease all;
    width: 100%;
}

.button:active {
    transform: translateY(2px);
}