.btn {
    &--nav {
        padding: 5px 20px;
        width: 100px;
        border-color: $blue-2;
        background-color: $body-background;
    }
    &--primary {
        height: 100%;
        width: 145px;
        border: none;
        background-color: $blue-2;
        color: $gray-1;
    }
    &--secondary {
        width: 225px;
        height: 100%;
        border: none;
        background-color: $blue-2;
        color: $gray-1;
    }
}

.btn--nav:hover {
    background-color: rgb(245, 239, 239);
    cursor: pointer;
}

.button,
.btn--nav {
    position: relative;
    transition: 800ms ease all;
    outline: none;
    cursor: pointer;
}

.button:hover,
.btn--nav:hover {
    background: #fff;
    border: none;
    color: $blue-3;
}

.button:before,
.button:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    transition: 400ms ease all;
    width: 0;
    background: $blue-2;
}

.button:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.button:hover:before,
.button:hover:after {
    transition: 800ms ease all;
    width: 100%;
}

.button:active {
    transform: translateY(2px);
}