.slideshow__dots {
    display: flex;
    justify-content: space-between;
}

.one-dot {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.one-dot__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dart {
    cursor: pointer;
    transition: 0.6s ease;
    padding: 5px;
    color: $blue-2;
    font-weight: $type-weight-bold;
}

.dot {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $dot-color;
    cursor: pointer;
}

.dot__img {
    width: 40px;
    height: 40px;
}

.dot__text {
    margin-bottom: 15px;
}

.dot__img--inactive {
    background: none;
}

.dot__img--active {
    background: url('../../images/orange-dot.png') no-repeat center/35px;
}

.dot__text--inactive {
    display: none;
    color: $dot-color;
}

.dot__text--active {
    display: block;
    text-align: center;
    color: $dot-color;
}

.dot-dart--inactive {
    display: none;
}

.dot-dart--active {
    display: block;
}

.slideshow__dots-bar {
    border-top: 2px dashed rgba(205, 205, 205, 1);
    width: 100%;
    display: flex;
    align-items: center;
    height: 2px;
    position: absolute;
    top: 30%;
    z-index: -1;
}