%font_and_color {
    color: $gray-2;
    font-size: $type-xsmall;
}

.footer__legal__item {
    box-shadow: $shadow-line-2;
}

.footer__legal {
    margin: 0px $primary-margin;
    display: flex;
    flex-wrap: wrap;
}

.footer__legal--left {
    flex-grow: 1;
    margin: $footer-margin;
}

.footer__legal--right a {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    margin: $footer-margin;
    text-decoration: none;
}

.footer__legal p {
    @extend %font_and_color;
}

.footer__legal--right div {
    flex: 1;
    @extend %font_and_color;
    width: fit-content;
    display: inline;
}