.footer__main {
    padding: 50px 0;
    margin: 0 $primary-margin;
    font-family: $font-sans;
}

.footer__text {
    margin-top: 20px;
    color: $gray-5;
    font-size: $type-xsmall;
    line-height: 20px;
    width: 320px;
}

.footer__contact {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.footer__address {
    margin-left: 10px;
    color: $blue-3;
}

.footer__mail {
    text-decoration: none;
    color: $blue-3;
    margin-left: 10px;
}

.footer--right {
    &__title {
        margin-bottom: 12px;
        font-weight: $type-weight-semibold;
        font-size: $type-base;
        color: $gray-5;
    }
    &__list {
        padding-left: 0;
    }
    &__item {
        margin-top: 8px;
        list-style-type: none;
    }
    &__link {
        text-decoration: none;
        font-size: $type-xsmall;
        color: $blue-2;
    }
}

.footer__mail:hover,
.footer--right__link:hover {
    color: $gray-7;
    transition: all 300ms ease-in-out;
}