.footer__main {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    padding: 50px 0;
    margin: 0 $primary-margin;
}

.footer--left {
    flex-grow: 1;
    margin-bottom: 30px;
    &__section {
        max-width: 320px;
        font-size: $type-xsmall;
    }
    &__title {
        margin-bottom: 25px;
    }
    &__contact {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
    }
    &__text {
        margin-left: 10px;
    }
    &__mail {
        text-decoration: none;
        color: $gray-7;
    }
    &__p {
        margin-top: 20px;
    }
}

.footer--left__mail:hover {
    text-decoration: underline;
}

.footer--right {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-grow: 1;
    &__pad {
        flex: 1;
        padding-right: 10px;
    }
    &__title {
        margin-bottom: 12px;
        font-weight: $type-weight-bold;
        font-size: $type-base;
    }
    &__item {
        margin-top: 8px;
    }
    &__link {
        text-decoration: none;
        font-size: $type-xsmall;
        color: $blue-1;
    }
}

.footer--right__link:hover {
    color: $blue-4;
}