.footer__legal {
    padding: 16px;
    box-shadow: $shadow-line2;
}

.legal {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px $primary-margin;
    @media screen and (max-width: 770px) {
        flex-direction: column;
        margin: 0 auto;
    }
}

.legal--left {
    flex: 1;
    &__paragraph {
        color: $gray-2;
        font-size: $type-xsmall;
    }
}

.legal--right {
    flex: 1;
    &__menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 0;
    }
    &__item {
        width: fit-content;
        padding-right: 10px;
        word-wrap: unset;
        list-style-type: none;
    }
    &__link {
        text-decoration: none;
        color: $gray-2;
        font-size: $type-xsmall;
    }
}

.legal--right__link:hover {
    color: $gray-7;
    transition: all 300ms ease-in-out;
}