.form-section {
    margin: 200px 0 100px;
    &__title {
        padding-bottom: 40px;
        font-size: $type-large;
        color: $blue-3;
        font-weight: $type-weight-bold;
        margin: 40px 0;
        margin-bottom: 0;
    }
    &__main {
        display: flex;
        flex-wrap: wrap;
    }
}

.form__item {
    flex: 1 0 50%;
    padding-top: 20px;
}

.form {
    max-width: 500px;
    &__control {
        display: flex;
        flex-direction: column;
        padding-bottom: 35px;
    }
    &__label {
        font-size: $type-xtny;
        color: $blue-1;
        margin-bottom: 4px;
    }
    &__input {
        border: none;
        background-color: $body-background;
        box-shadow: $shadow-form;
        font-size: $type-base;
        color: $gray-5;
    }
    &__textarea {
        box-shadow: none;
        font-size: $type-base;
        color: $gray-5;
        font-family: $font-sans;
    }
    &__message {
        margin: 20px 0;
        color: $gray-5;
    }
    &__button {
        height: 45px;
    }
}

.checkbox {
    &__button {
        width: 24px;
        height: 24px;
        border: 1px solid $blue-1;
        border-radius: 5px;
    }
    &__text {
        font-size: $type-small;
        margin-left: 15px;
        color: $gray-2;
    }
}

.js-hide {
    display: none;
}