.footer__main {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    padding: 50px 0;
    margin: 0 $primary-margin;
}

.footer--left {
    flex-grow: 1;
    margin-bottom: 30px;
    font-family: $font-sans;
    &__section {
        max-width: 320px;
        font-size: $type-xsmall;
    }
    &__title {
        margin-bottom: 25px;
    }
    &__contact {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
    }
    &__text {
        margin-left: 10px;
        color: $blue-3;
    }
    &__mail {
        text-decoration: none;
        color: $blue-3;
    }
    &__p {
        margin-top: 20px;
        color: $gray-5;
        font-size: $type-xsmall;
        line-height: 20px;
    }
}

.footer--right {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-grow: 1;
    &__pad {
        flex: 1;
        padding-right: 10px;
    }
    &__title {
        margin-bottom: 12px;
        font-weight: $type-weight-semibold;
        font-size: $type-base;
        color: $gray-5;
    }
    &__item {
        margin-top: 8px;
    }
    &__link {
        text-decoration: none;
        font-size: $type-xsmall;
        color: $blue-2;
    }
}

.footer--left__mail:hover,
.footer--right__link:hover {
    color: $gray-7;
    transition: all 300ms ease-in-out;
}