.hero__wrapper {
    margin: $primary-margin 0px;
}

.hero__title {
    font-size: $type-xlarge;
    font-weight: $type-weight-bold;
}

.hero {
    margin: 24px 0;
}

.hero__description {
    max-width: 541px;
    font-size: $type-medium;
    line-height: 35px;
    color: $gray-3;
}

.hero__btn {
    height: 45px;
}