@mixin header-navigation ($justify-content:flex-start) {
    flex-grow: 1;
    display: flex;
    justify-content: $justify-content;
    align-items: center;
}

.header__item {
    margin-left: $primary-margin;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: static;
    @media screen and (max-width: 900px) {
        margin-left: 0px;
    }
}

.navbar {
    &--left {
        @include header-navigation;
        .nav-menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .nav-item {
            padding-right: 35px;
        }
        .nav-link {
            text-decoration: none;
            font-weight: $type-weight-bold;
            font-size: $type-xsmall;
            color: $gray-7;
        }
    }
    &--right {
        @include header-navigation($justify-content: flex-end);
        .navigation-menu {
            display: flex;
        }
        .navigation-item {
            padding-right: 35px;
            font-size: $type-xsmall;
            display: flex;
            align-items: center;
            @media screen and (max-width: 990px) {
                padding-right: 10px;
            }
        }
        .navigation-link {
            text-decoration: none;
            font-size: $type-xsmall;
            color: $gray-7;
            display: flex;
            align-items: center;
        }
        .navigation-img {
            margin-right: 10px;
        }
    }
}