.section-two__image__item {
    position: relative;
}

.dots-item {
    width: 100%;
}

.section-two__hover__dot-1 {
    position: absolute;
    bottom: 200px;
    left: 30px;
}

.section-two__hover__dot-2 {
    position: absolute;
    bottom: 100px;
    left: 150px;
}

.hover-dot__item {
    width: 33px;
    height: 35px;
    background-color: $dot-color-2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    position: absolute;
}

.hover-dot {
    width: 22px;
    height: 22px;
    background-color: $dot-color;
    color: transparent;
    border-radius: 50px;
}

.popover {
    background-color: #FFFFFF;
    box-shadow: $shadow-popover;
    border-radius: 5px;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px 0;
}

#popover-1 {
    top: 60px;
    left: 30px;
}

#popover-2 {
    bottom: -10px;
    left: 20px;
}

.popover__x {
    cursor: pointer;
    flex: 0 0 20%;
    text-align: center;
    padding-top: 5px;
}

.popover__text {
    flex: 0 0 80%;
    font-size: $type-xsmall;
    line-height: 1.75;
    color: $gray-2;
    padding-right: 5px;
}