.progress-dots__item {
    width: 90%;
    margin: 100px auto;
}

.progress-dots {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progress-dots-bar {
    border-top: 2px dashed rgba(205, 205, 205, 1);
    max-width: 98%;
    height: 2px;
    margin-top: -20px;
    margin-left: 5px;
}

.progres-dot__item {
    width: 23px;
    height: 23px;
    border-radius: 50px;
    border: 1px solid $fifth-color;
    display: flex;
    justify-content: center;
    align-items: center;
    &__first {
        width: 35px;
        height: 35px;
        border: 1px solid $dot-color;
    }
}

.progress-dot {
    display: block;
    background-color: $fifth-color;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
    color: transparent;
    position: relative;
    &__first {
        background-color: $dot-color;
        width: 25px;
        height: 25px;
        color: $dot-color;
    }
}

.progress-dot__text {
    position: absolute;
    top: 40px;
    right: -25px;
    font-size: 15px;
}