.main__section-one {
    margin: $primary-margin 0px;
}

.main__section-one__title {
    font-size: $type-xlarge;
    font-weight: $type-weight-bold;
}

.section-one {
    padding: 12px 0;
}

.main__section-one__main {
    max-width: 541px;
    font-size: $type-medium;
    line-height: 35px;
    color: $gray-3;
}