.btn {
    position: absolute;
    top: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transform: scale(1.1);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.slider {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 50px;
    height: 20px;
    position: relative;
    top: 30px;
    left: 0;
    border-top: 2px dashed rgba(205, 205, 205, 1);
}

.btn,
.btn::after {
    transition: .5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.btn:nth-of-type(1) {
    left: 0%;
}

.btn:nth-of-type(2) {
    left: 33%;
}

.btn:nth-of-type(3) {
    left: 66%;
}

.btn:nth-of-type(4) {
    left: 97%;
}

.btn:hover {
    transform: scale(1.4);
}

.btn::after {
    content: "";
    display: inline-block;
    background: url(../../images/Group2.1.png) center;
    width: 20px;
    height: 20px;
    margin: 3px 3px;
    transform: scale(.5, .5);
}


/* button logic */

input[type="radio"]:checked+label.btn {
    transform: scale(1.2);
}

input[type="radio"]:checked+label.btn::after {
    transform: scale(1.1, 1.1);
    background: url(../../images/orange-dot.png) center;
    background-size: 20px;
}