%title-h2 {
    font-size: $type-large;
    color: $blue-3;
    font-weight: $type-weight-bold;
    margin: 40px 0;
}

%main__section--width {
    max-width: 80%;
}

%title-h3 {
    font-weight: $type-weight-bold;
    font-size: $type-medium;
    color: $blue-3;
    line-height: 28px;
}