%title-h2 {
    font-size: 48px;
    color: $fifth-color;
    font-weight: 900;
    margin: 40px 0;
}

%main__section--width {
    max-width: 80%;
}

%title-h3 {
    font-weight: bold;
    font-size: 20px;
    color: $fifth-color;
    line-height: 28px;
}