/* Primary margin in project*/

$primary-margin:70px;

/* Sidebar width: important for the main element */

$sidebar-width:200px;

/* header height: important for the logo height */

$header-hight:50px;