/* 
Shadows
*/

$shadow-line: 1px 0 $gray-6;
$shadow-line-2: 0px -1px rgba(0, 0, 0, 0.07);
$shadow-line-3: 0px -1px rgba(0, 0, 0, 0.07);

/* 
Popover line
*/

$shadow-popover: 0px 0px 4px rgba(0, 0, 0, 0.15);

/* 
Form input
*/

$shadow-form: 0 1px $gray-2;

/* 
Card results
*/

$shadow-card-results: 0 0 4px rgba(0, 0, 0, 0.18);

/* 
Info-box
*/

$shadow-info-box: 3px 7px 4px rgba(0, 0, 0, 0.09);